
@import url('https://fonts.googleapis.com/css2?family=Overpass&family=Permanent+Marker&display=swap');

body {
	font-size: 18px;
	margin: 0;
	padding: 0;
	color: #2F3E46;
	font-family: 'Overpass', sans-serif;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Permanent Marker', cursive;
	letter-spacing: .1rem;
	margin: 5px 0 5px 0;
}

p {
	line-height: 1.6;
}

h1 {
	text-align: center;
	color: #2F3E46;
}

header, footer {
	background-color: #84A98C;
	color: white;
	display: grid;
	justify-content: center;
}

header {
	padding: 10px;
}


footer {
	grid-template-columns: 1fr 150px;
	height: 50px;
	justify-content: center;
	align-items: center;
}

main {
	padding: 0 20px 0 20px;
}

.top {
	align-self: end;
}

nav {
	grid-row: 2;
}

.navigation { 
	list-style: none; 
	display: flex; 
	text-align: center; 
}

.navigation li {
	flex: 1 1 auto;
}

.navigation a {
	display: block;	
	color: white;	
	padding: .75rem;	
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 10px 0 10px;
	font-weight: bold;
	letter-spacing: .1rem;
}


.navigation a:hover {
	color: #2F3E46;
}

header img {
	margin: 0 auto;
	grid-row-start: 1;
	grid-row-end: span 2;
}

footer p {
	margin: 0;
	text-align: center;
}

.page {
	max-width: 980px;
	margin: 0 auto;
	background-color: #CAD2C5;
}

i:active{
	transform: scale(.9);
 }

i {
	font-size: 30px;
	padding-right: 15px;
	color: white;
}

i:hover {
	color: #2F3E46;
}

.headerimage {
	position: relative;
	width: 100%;
	padding-top: 20px;
}

.imgcenter {
	display: block;
	margin: 0 auto;
	width: 100%;
}

.shadow
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.shadow:before, .shadow:after
{
  content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.shadow:after
{
  right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 1px solid #5c7662;
    border-radius: 8px;
    background: #98c2a1;
    background: -webkit-gradient(linear, left top, left bottom, from(#98c2a1), to(#5c7662));
    background: -moz-linear-gradient(top, #98c2a1, #5c7662);
    background: linear-gradient(to bottom, #98c2a1, #5c7662);
    text-shadow: #425546 0px -2px 0px;
    font: normal normal bold 32px arial;
    color: #ffffff;
    text-decoration: none;
}
.button:hover,
.button:focus {
    border: 1px solid #84a98c;
    background: #b6e9c1;
    background: -webkit-gradient(linear, left top, left bottom, from(#b6e9c1), to(#6e8e76));
    background: -moz-linear-gradient(top, #b6e9c1, #6e8e76);
    background: linear-gradient(to bottom, #b6e9c1, #6e8e76);
    color: #ffffff;
    text-decoration: none;
}
.button:active {
    background: #5c7662;
    background: -webkit-gradient(linear, left top, left bottom, from(#5c7662), to(#5c7662));
    background: -moz-linear-gradient(top, #5c7662, #5c7662);
    background: linear-gradient(to bottom, #5c7662, #5c7662);
	transform: scale(.9);
}

.calltoaction {
	position: absolute;
	top: 45px;
	right: 600px;
}

.mainbody {
	display: grid;
	justify-items: center;
	align-items: center;
	margin-top: 20px;
	row-gap: 10px;
	column-gap: 5px;
	padding: 10px;
}

.middleleft {
	grid-column: 1;
	grid-row: 2;
}

.middleright {
	grid-column: 2;
	grid-row: 2;
}

.bottom {
	grid-column: 1 / span 2;
}

.image {
	width: 92%;
}

.twocolumn {
	display: grid;
	margin: 15px;
	align-items: center;
	grid-template-columns: 50% 50%;
}

.title {
	grid-column: 1 / span 2;
	font-family: 'Permanent Marker', cursive;
    letter-spacing: .1rem;
    margin: 5px 0 5px 0;
	text-align: center;
	color: #2F3E46;
	font-size: 1.5em;
	font-weight: bold;
}

.left {
	grid-column: 1;
	grid-row: 2;
}

.right {
	grid-column: 2;
	grid-row: 2;
	align-self: end;
}

.end {
	justify-self: end;
}

hr {
	background-image: url(../images/paddle.png);
	height: 110px;
	background-repeat: no-repeat;
	background-position: center;
	border: none;
	margin-top: 15px;
	margin-bottom: 15px;
}

.flip {
	transform: rotate(180deg);
}

.item label {
	font-weight: bold;
	text-transform: uppercase;
}

.item span {
	float: right;
}

.item {
	margin-bottom: 10px;
	border-bottom: 1px solid #5c7662;;
}


.three {
	display: grid;
	grid-template-columns: 20% 60% 20%;
}

form {
	grid-column: 2;
	padding: 0px 20px 20px 20px;
}

.img-container {
	grid-row: 2;
	grid-column: span3;
}

#feat-pic1 {
	grid-row: 2;
	grid-column: span 3;
}

.img-container img {
	display: block;
	margin: 0px auto;
	padding-bottom: 20px;
}

li label {
	font-weight: bold;
	display: block;
}

input, textarea, select {
	box-sizing: border-box;
	border: 1px solid #BEBEBE;
	width: 100%;
	padding: 7px;
	font: 15px 'Overpass', sans-serif;
}

.nobullet {
	list-style-type: none;
	padding: 5px;
}

.small {
	font: normal normal bold 20px arial;
}

.booknow {
	text-align: center;
}
	










