
@import url('https://fonts.googleapis.com/css2?family=Overpass&family=Permanent+Marker&display=swap');

body {
	font-size: 18px;
	margin: 0;
	padding: 0;
	color: #2F3E46;
	font-family: 'Overpass', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Permanent Marker', cursive;
	letter-spacing: .1rem;
	margin: 5px 0 5px 0;
}

p {
	line-height: 1.6;
}

h1 {
	text-align: center;
}

header, footer {
	background-color: #84A98C;
	color: white;
	display: grid;
	align-items: center;
	justify-content: center;
}

header {
	padding: 10px;
	grid-template-columns: 450px 1fr;
}

footer {
	grid-template-columns: 1fr 150px;
	height: 50px;
}

main {
	padding: 0 20px 0 20px;
}

header img {
	margin: 0 auto;
}

footer p {
	margin: 0;
	text-align: center;
}

.page {
	max-width: 960px;
	margin: 0 auto;
	background-color: #CAD2C5;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: #2F3E46;
}

i:active{
	transform: scale(.9);
 }

i {
	font-size: 30px;
	padding-right: 15px;
}

ul {
	list-style-type: none;
}

li {
	display: inline;
	text-transform: uppercase;
	padding: 10px 10px 0 10px;
	font-weight: bold;
	letter-spacing: .1rem;
}

.imgcenter {
	display: block;
	margin: 0 auto;
}

.imgright {
	float: right;
	width: 40%;
}

.imgleft {
	width: 40%;
}

.shadow
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.shadow:before, .shadow:after
{
  content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.shadow:after
{
  right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

