
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Lato&display=swap');

body {
	font-size: 18px;
	margin: 0;
	padding: 0;
	color:white;
	font-family: 'Lato', sans-serif;
	box-sizing: border-box;
    background-color: black;
    max-width: 1000px;
	margin: 0 auto;
}

main {
    padding: 10px;
}

h1, h2 {
	font-family: 'Arvo', sans-serif;
	letter-spacing: .1rem;
	margin: 5px 0 5px 0;
}

p {
	line-height: 1.6;
}

h1 {
	color: #edb000;
    text-align: center;
}

header {
    display: grid;
	justify-content: center;
    grid-template-columns: 40% 60%;
    border-bottom: 1px solid #edb000;
    padding: 10px;
}

.subhead {
    grid-column: 1;
    grid-row: 2;
}

nav {
    grid-column: 2;
    grid-row: 1 / 3;
    align-self: center;
}



footer {
    border-top: 1px solid #edb000;
    display: grid;
	justify-items: center;
    grid-template-columns: 50% 25% 25%;
    align-items: center;
    margin: 0;
    height: 50px;
}


.twocolumn {
    display: grid;
	margin: 15px;
	align-items: center;
    justify-items: center;
	grid-template-columns: 1fr 1fr;
}

.left {
	grid-column: 1;
}

.right {
	grid-column: 2;
}

.center {
    margin: 0px auto;
}

.navigation { 
	list-style: none; 
	display: flex; 
	text-align: center; 
}

.navigation li {
	flex: 1 1 auto;
}

.navigation a {
	display: block;	
	color: #edb000;	
	padding: .75rem;	
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 10px 0 10px;
	font-weight: bold;
	letter-spacing: .1rem;
    font-size: 1.5em;
}


.navigation a:hover {
	color: #624000;
}

i:active{
	transform: scale(.9);
 }

i {
	font-size: 30px;
	padding: 0px 7.5px 0px 7.5px;
	color: #edb000;
}

i:hover {
	color: #624000;
}

.links a {
    padding: 0px 7.5px 0px 7.5px;
}

.right a, .links a, .right a:visited, .links a:visited {
	color: #edb000;	
	text-decoration: none;
}

.right a:hover, .links a:hover {
	color: #624000;
}

.antique {
	position: relative;
}

.overlay {
	mix-blend-mode: multiply;
	position: absolute;
	display: inline-block;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.overlay img{
	width:100%;
	height:100%;
  }

.sepia{
	filter:brightness(70%) contrast(150%) saturate(0%) brightness(150%);
  }

